<p>Total of <%= Rating.count %> ratings given</p>

<h2>Beers with highest ratings</h2>

<%= render 'list', objects: @beers %>

<h2>Breweries with highest ratings</h2>

<%= render 'list', objects: @breweries %>

<h2>Users with most ratings</h2>

<%= render 'list', objects: @users %>

<h2>Latest ratings</h2>


<h2>Styles with highest ratings</h2>

<%= render 'list', objects: @styles %>

<%= link_to "new rating", new_rating_path, class:"btn btn-primary" %>